= lifted_box 'video_form' do
  = form_for @video, :remote => true do |f|
    .head
      %h2 Video
      = bevel_button 'status', 'status gray'
      / %ul.status
      /   %li.selected status
      /   %li active
      /   %li inactive
      /   %li review
    %span.hr
      .video
        = fancy_input 'video[title]', 'title', 'Title', @video.title
        = fancy_input 'video[width]', 'width', 'Width', @video.width
        = fancy_input 'video[height]', 'height', 'Height', @video.height
        = fancy_input 'video[duration]', 'duration', 'Duration', @video.duration
        = fancy_input 'video[link]', 'link', 'Link', @video.link
        = fancy_input 'video[source]', 'source', 'Source', @video.source
        = bevel_button 'embed', 'embed gray'

      .riders
        %h2 Riders
        // = fancy_input 'riders', 'round icon search_or_add', 'Search / Add'
        %span.hr
        %ul.tag_list
          - 12.times do
            %li= tag_link 'Jonas Michilot', 'icon', '#destroy_rider/1'
    %span.hr
    .buttons
      = f.submit 'submit', :class => 'hide'
      = bevel_button save_or_submit, 'done green submit'
      = bevel_button 'cancel', 'cancel gray'

%span.hr