= lifted_box 'video_form' do
  = form_for video, :html => {:multipart => true} do |f|
    .head
      %h2 Video
      .status
        - status = determine_video_status(video)
        - ['active','inactive','review'].each do |state|
          - selected = (status == state) ? 'selected' : ''
          - styles = 'status gray '+ state + ' ' + selected
          = bevel_button state, styles
        = hidden_field_tag 'video[status]', status
    %span.hr
    .video
      = fancy_input 'video[title]', 'title', 'Title', video.title
      = fancy_input 'video[width]', 'width', 'Width', video.width
      = fancy_input 'video[height]', 'height', 'Height', video.height
      = fancy_input 'video[duration]', 'duration', 'Duration', video.duration
      = fancy_input 'video[link]', 'link', 'Link', video.link
      = fancy_input 'video[source]', 'source', 'Source', video.source
      = bevel_button 'image', 'image gray'
      = f.file_field 'video[snapshot]'

    .athletes
      %h2 Starring
      = fancy_input 'riders', 'round icon athlete_search', 'Search / Add'
      %span.hr
      %ul.tag_list
        - video.athletes.each do |athlete|
          = render 'athletes/tag_link', :athlete => athlete, :style => 'icon delete'
    %span.hr
    .buttons
      = f.submit 'submit', :class => 'hide'
      = bevel_button save_or_submit, 'done green submit'
      = bevel_button 'cancel', 'cancel gray'

%span.hr