= lifted_box 'video_form' do
  .form
    .head
      %h2 Video
      = bevel_button 'status', 'status gray'
      / %ul.status
      /   %li.selected status
      /   %li show
      /   %li hide
      /   %li review
    %span.hr
    .video
      = fancy_input 'title'
      = fancy_input 'width'
      = fancy_input 'height'
      = fancy_input 'duration'
      = fancy_input 'link'
      = fancy_input 'source'
      = bevel_button 'embed', 'embed gray'

    .riders
      %h2 Riders
      = fancy_input 'riders', 'round icon search_or_add', 'Search / Add'
      %span.hr
      %ul.tag_list
        - 12.times do
          %li= tag_link 'Jonas Michilot', 'icon', '#destroy_rider/1'
    %span.hr
    .buttons
      = bevel_button 'done', 'done green'
      = bevel_button 'cancel', 'cancel gray'

%span.hr