%li.video{ :class => "video_"+video.id.to_s }
  = link_to image_tag(video.snapshot.url), watch_video_path(video), :remote => true
  %span.duration= video.duration
  .info
    %h3= link_to video.title, watch_video_path(video), :remote => true
    .athletes
      %ul
        %li
          / %h4 Starring:
        - video.athletes.each do |athlete|
          - name = athlete.name
          - name += ', ' unless athlete == video.athletes.last
          %li= link_to name, athlete_path(athlete)
    // todo: there has to be a far better way to handle this
    %ul.meta
      - if video.source_url
        - if current_admin
          %li
            %span= video.status
            = " / "
        %li
          = link_to 'source', video.source_url, :target => '_blank'
          = " / "
      %li
        %span
          watched: 
          %span.total_views= video.total_views
          times /
      %li
        %span= "saves: #{video.favorites.count}"
        = " / "
      %li
        - past_or_future = video.published_at > Time.now ? 'from now' : 'ago' rescue nil
        %span= "posted #{distance_of_time_in_words_to_now video.published_at rescue nil} #{past_or_future}"
  %ul.options
    - unless current_admin
      // todo: if you haven't watched the video, mark it new
      %li.watch= watch_button(video)
      %li.save= save_button(video)
    - else
      %li.edit= link_to 'Edit', edit_video_path(video), :class => 'edit', :remote => true
      %li.delete= link_to 'Delete', video_path(video), :method => 'delete', :class => 'delete', :remote => true
