.header
  %h1
    = link_to @title, '/'

  // %span= videos_total(134)

  %ul.nav.gondvetica
    - if current_admin
      %li= link_to 'new video', new_video_path, :remote => true, :class => 'new_video'
      %li= link_to 'sign out', destroy_admin_session_path, :title => current_admin.email
    - elsif current_user
      %li= link_to 'my favorites', favorites_path, :class => 'your_saves'
      %li= link_to 'sign out', sign_out_path, :title => current_user.email
    - else
      %li
        = link_to 'sign in', new_user_session_path
        &nbsp;/
      %li= link_to 'Connect with Facebook', facebook_auth_path, :class => 'facebook'

  .search
    = fancy_input 'Search', 'round icon'

