= javascript_include_tag "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"
= javascript_include_tag "jquery/jquery","jquery/ui","jquery/autocomplete","jquery/hint","jquery/jwplayer"
= javascript_include_tag "/fonts/cufon","/fonts/gondvetica.font.js"
= javascript_include_tag "rails","patterns","popup","application"

// google analytics
- if RAILS_ENV == 'production'
  %script{ :type => 'text/javascript', :charset => 'utf-8' }
    gat('UA-16211392-3')

// js from views
%script{ :type => 'text/javascript', :charset => 'utf-8' }
  $(document).ready(function() {
  = yield :on_ready
  })