!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml", :lang => "en", "xml:lang" => "en" }
  %head
    = page_title
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    = render :partial => 'layouts/meta'
    = render :partial => 'layouts/stylesheets'
    = csrf_meta_tag

  %body{ :class => yield(:page_style) }
    = render :partial => 'layouts/popup'
    .container
      = render :partial => 'layouts/header'
      %span.hr
      = render :partial => 'layouts/flash'
      = render :partial => 'layouts/admin'

      .content
        = yield :layout

      %span.hr

      = render :partial => 'layouts/footer'


    = render :partial => 'layouts/javascripts'