!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en" }
  %head
    = page_title
    %link{ :rel => "shortcut icon", :href => "/images/favicon.ico" }
    = render :partial => 'layouts/meta'
    = render :partial => 'layouts/stylesheets'
    = csrf_meta_tag

  %body{ :class => yield(:page_style) }
    .container
      .header
        %h1= link_to @title, '/'
        %span= (145)
        %ul.nav
          - if user_signed_in?
            %li.your_saves= link_to 'Your Saves', '/your_saves_path'
          - else
            %li= link_to 'sign in / ', new_user_session_path
            %li.fbconnect= link_to 'Facebook Connect', '/???'
        .search
          %input

      .content
        = flash_messages
        = yield :layout

      .footer
        %span © 2010 GONDI.TV
        %ul
          %li= link_to 'Submit a Link', 'submit_a_link'
          %li= link_to 'Contact', 'contact_path'